Source/build-windows/CMakeFiles/
Source/build-windows/depends/
Source/build-windows/Utilities/
Source/build-windows/x64/
Source/build-windows/.vs/
Source/build-windows/*.dir
Examples/**/build*/
Examples/*.apk
Examples/*.app
Examples/*.exe

### Packaging
Source/packaging/linux/cpack/
*.deb

#### OS-generated caches and resources
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### git merge conflict files
*.orig

#### Intermediate build products
*.o

#### Intermediate Language products
*.dex
*.class

#### Caches
# Visual C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

#### IDE user-config.
# Android Studio
local.properties
*.iml
**/.gradle/
**/.idea/caches/
**/.idea/workspace.xml
**/.idea/libraries
**/captures/
**/.externalNativeBuild/

# MonoDevelop/Xamarin Studio
*.userprefs

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Xcode
xcuserdata/
*.mode1*
*.pbxuser
*.xccheckout
*.xcscmblueprint

#### Other VCS
.svn/
*.dmg
/Source/build-windows/.vs/artoolkitX
/Source/build-windows/ARX/AR/AR.dir
/Source/build-windows/ARX/AR/CMakeFiles
/Source/build-windows/ARX/AR/Debug
/Source/build-windows/ARX/AR/Release
/Source/build-windows/ARX/AR2/AR2.dir
/Source/build-windows/ARX/AR2/CMakeFiles
/Source/build-windows/ARX/AR2/Debug
/Source/build-windows/ARX/AR2/Release
/Source/build-windows/ARX/ARG/ARG.dir
/Source/build-windows/ARX/ARG/CMakeFiles
/Source/build-windows/ARX/ARG/Debug
/Source/build-windows/ARX/ARG/Release
/Source/build-windows/ARX/ARUtil/ARUtil.dir
/Source/build-windows/ARX/ARUtil/CMakeFiles
/Source/build-windows/ARX/ARUtil/Debug
/Source/build-windows/ARX/ARUtil/Release
/Source/build-windows/ARX/ARVideo/ARVideo.dir
/Source/build-windows/ARX/ARVideo/CMakeFiles
/Source/build-windows/ARX/ARVideo/Debug
/Source/build-windows/ARX/ARVideo/Dummy/CMakeFiles
/Source/build-windows/ARX/ARVideo/Image/CMakeFiles
/Source/build-windows/ARX/ARVideo/Release
/Source/build-windows/ARX/ARVideo/WindowsMediaFoundation/CMakeFiles
/Source/build-windows/ARX/ARX.dir
/Source/build-windows/ARX/CMakeFiles
/Source/build-windows/ARX/Debug
/Source/build-windows/ARX/KPM/CMakeFiles
/Source/build-windows/ARX/KPM/Debug
/Source/build-windows/ARX/KPM/KPM.dir
/Source/build-windows/ARX/KPM/Release
/Source/build-windows/ARX/OCVT/CMakeFiles
/Source/build-windows/ARX/OCVT/Debug
/Source/build-windows/ARX/OCVT/OCVT.dir
/Source/build-windows/ARX/OCVT/Release
/Source/build-windows/ARX/Release
